---
http_interactions:
- request:
    method: get
    uri: https://pokeapi.co/api/v2/pokemon/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"30ad2-KNtztRpIZeXb32Sc8FwbZx9KOUA"
      Function-Execution-Id:
      - 9jlej6otsut4
      X-Cloud-Trace-Context:
      - f09bf2d565ffa958e11a32f2807d8597
      X-Country-Code:
      - SG
      X-Orig-Accept-Language:
      - en-GB,en-US;q=0.9,en;q=0.8
    body:
      encoding: ASCII-8BIT
      string: '{"abilities":[{"ability":{"name":"overgrow","url":"https://pokeapi.co/api/v2/ability/65/"},"is_hidden":false,"slot":1},{"ability":{"name":"chlorophyll","url":"https://pokeapi.co/api/v2/ability/34/"},"is_hidden":true,"slot":3}],"base_experience":64,"forms":[{"name":"bulbasaur","url":"https://pokeapi.co/api/v2/pokemon-form/1/"}],"game_indices":[{"game_index":153,"version":{"name":"red","url":"https://pokeapi.co/api/v2/version/1/"}},{"game_index":153,"version":{"name":"blue","url":"https://pokeapi.co/api/v2/version/2/"}},{"game_index":153,"version":{"name":"yellow","url":"https://pokeapi.co/api/v2/version/3/"}},{"game_index":1,"version":{"name":"gold","url":"https://pokeapi.co/api/v2/version/4/"}},{"game_index":1,"version":{"name":"silver","url":"https://pokeapi.co/api/v2/version/5/"}},{"game_index":1,"version":{"name":"crystal","url":"https://pokeapi.co/api/v2/ve[...]
- request:
    method: get
    uri: https://pokeapi.co/api/v2/pokemon-form/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2da-xjzo1w9APur8sxMr288xTN3INOk"
      Function-Execution-Id:
      - 2803h7l2x73n
      X-Cloud-Trace-Context:
      - ec3412d8faf3d8d00dc3075a5d4b725e;o=1
      X-Country-Code:
      - SG
    body:
      encoding: ASCII-8BIT
      string: '{"form_name":"","form_names":[],"form_order":1,"id":1,"is_battle_only":false,"is_default":true,"is_mega":false,"name":"bulbasaur","names":[],"order":1,"pokemon":{"name":"bulbasaur","url":"https://pokeapi.co/api/v2/pokemon/1/"},"sprites":{"back_default":"https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/back/1.png","back_shiny":"https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/back/shiny/1.png","front_default":"https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/1.png","front_shiny":"https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/shiny/1.png"},"version_group":{"name":"red-blue","url":"https://pokeapi.co/api/v2/version-group/1/"}}'
  recorded_at: Wed, 21 Oct 2020 09:40:42 GMT
- request:
    method: get
    uri: https://pokeapi.co/api/v2/pokemon-species/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"75f1-3BOyDLgBxfK6YyHzcbCKNjXh0v8"
      Function-Execution-Id:
      - 13cys9cetejj
      X-Cloud-Trace-Context:
      - 70561ce876489918d248e90f15d5a7a2
      X-Country-Code:
      - IN
    body:
    [...]
[...]
- request:
    method: get
    uri: https://pokeapi.co/api/v2/pokemon-species/1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"75f1-3BOyDLgBxfK6YyHzcbCKNjXh0v8"
      Function-Execution-Id:
      - 1bip83ui6pob
      X-Cloud-Trace-Context:
      - 38a19399a4c7e0ed751aad30bf7fd9d3
      X-Country-Code:
      - AU
      X-Orig-Accept-Language:
      - en-US,en;q=0.9
    body:
      encoding: UTF-8
      string: '{"base_happiness":70,"capture_rate":45,"color":{"name":"green","url":"https://pokeapi.co/api/v2/pokemon-color/5/"},"egg_groups":[{"name":"monster","url":"https://pokeapi.co/api/v2/egg-group/1/"},{"name":"plant","url":"https://pokeapi.co/api/v2/egg-group/7/"}],"evolution_chain":{"url":"https://pokeapi.co/api/v2/evolution-chain/1/"},"evolves_from_species":null,"flavor_text_entries":[{"flavor_text":"A
        strange seed was\nplanted on its\nback at birth.\fThe plant sprouts\nand grows
        with\nthis POKéMON.","language":{"name":"en","url":"https://pokeapi.co/api/v2/language/9/"},"version":{"name":"red","url":"https://pokeapi.co/api/v2/version/1/"}},{"flavor_text":"A
        strange seed was\nplanted on its\nback at birth.\fThe plant sprouts\nand grows
        with\nthis POKéMON.","language":{"name":"en","url":"https://pokeapi.co/api/v2/language/9/"},"version":{"name":"blue","url":"https://pokeapi.co/api/v2/version/2/"}},{"flavor_text":"It
        can go for days\nwithout eating a\nsingle morsel.\fIn the bulb on[...]
[...]
- request:
    method: get
    uri: https://pokeapi.co/api/v2/pokemon/fdfd
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - W/"9-0gXL1ngzMqISxa6S1zx3F4wtLyg"
      Function-Execution-Id:
      - gqtk8cop03nk
      X-Cloud-Trace-Context:
      - 850e1280654c1d413219f24693129913
    body:
      encoding: UTF-8
      string: Not Found
  recorded_at: Thu, 22 Oct 2020 10:17:51 GMT
- request:
    method: get
    uri: https://pokeapi.co/api/v2/pokemon/foobar
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - W/"9-0gXL1ngzMqISxa6S1zx3F4wtLyg"
      Function-Execution-Id:
      - ph09rjrxg1l7
      X-Cloud-Trace-Context:
      - f76fca3327b4b4e4c9c92df23d271609
    body:
      encoding: UTF-8
      string: Not Found
  recorded_at: Thu, 22 Oct 2020 16:13:22 GMT
- request:
    method: get
    uri: https://pokeapi.co/api/v2/ability/1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3838-1aW2rX1Si83r+NLvh4P8GDFWTrQ"
      Function-Execution-Id:
      - 8ezpuaakxz9m
      X-Cloud-Trace-Context:
      - f3c332dbee42c1201d25c3a31f60313a;o=1
      X-Country-Code:
      - US
    body:
      encoding: UTF-8
      string: '{"effect_changes":[{"effect_entries":[{"effect":"Hat im Kampf keinen
        Effekt.","language":{"name":"de","url":"https://pokeapi.co/api/v2/language/6/"}},{"effect":"Has
        no effect in battle.","language":{"name":"en","url":"https://pokeapi.co/api/v2/language/9/"}}],"version_group":{"name":"black-white","url":"https://pokeapi.co/api/v2/version-group/11/"}}],"effect_entries":[{"effect":"Attacken
        die Schaden verursachen haben mit jedem Treffer eine 10% Chance das Ziel zurückschrecken
        zu lassen, wenn die Attacke dies nicht bereits als Nebeneffekt hat.\n\nDer
        Effekt stapelt nicht mit dem von getragenen Items.\n\nAußerhalb vom Kampf:
        Wenn ein Pokémon mit dieser Fähigkeit an erster Stelle im Team steht, tauchen
        wilde Pokémon nur halb so oft auf.","language":{"name":"de","url":"https://pokeapi.co/api/v2/language/6/"},"short_effect":"Mit
        jedem Treffer besteht eine 10% Chance das Ziel zurückschrecken zu lassen."},{"effect":"This
        Pokémon''s damaging moves have a 10% chance to make the target flinch with
        each hit if they do not already cause flinching as a secondary effect.\n\nThis
        ability does not stack with a held item.\n\nOverworld: The wild encounter
        rate is halved while this Pokémon is first in the party.","language":{"name":"en","url":"https://pokeapi.co/api/v2/language/9/"},"short[...]
- request:
    method: get
    uri: https://pokeapi.co/api/v2/evolution-chain/1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"519-mKqcmr+9AYQMpKJR7ibewJifciM"
      Function-Execution-Id:
      - n80wngdxbynf
      X-Cloud-Trace-Context:
      - 2a33456ea1815c0d16d08a6f558486ed
      X-Country-Code:
      - US
    body:
      encoding: UTF-8
      string: '{"baby_trigger_item":null,"chain":{"evolution_details":[],"evolves_to":[{"evolution_details":[{"gender":null,"held_item":null,"item":null,"known_move":null,"known_move_type":null,"location":null,"min_affection":null,"min_beauty":null,"min_happiness":null,"min_level":16,"needs_overworld_rain":false,"party_species":null,"party_type":null,"relative_physical_stats":null,"time_of_day":"","trade_species":null,"trigger":{"name":"level-up","url":"https://pokeapi.co/api/v2/evolution-trigger/1/"},"turn_upside_down":false}],"evolves_to":[{"evolution_details":[{"gender":null,"held_item":null,"item":null,"known_move":null,"known_move_type":null,"location":null,"min_affection":null,"min_beauty":null,"min_happiness":null,"min_level":32,"needs_overworld_rain":false,"party_species":null,"party_type":null,"relative_physical_stats":null,"time_of_day":"","trade_species":null,"trigger":{"name":"level-up","url":"https://pokeapi.co/api/v2/evolution-trigger/1/"},"turn_upside_down":false}],"evolves_to":[],"is_baby":false,"species":{"name":"venusaur","url":"https://pokeapi.co/api/v2/pokemon-species/3/"}}],"is_baby":false,"species":{"name":"ivysaur","url":"https://pokeapi.co/api/v2/pokemon-species/2/"}}],"is_baby":false,"species":{"name":"bulbasaur","url":"https://pokeapi.co/api/v2/pokemon-species/1/"}},"id":1}'
  recorded_at: Tue, 27 Oct 2020 12:14:52 GMT
- request:
    method: get
    uri: https://pokeapi.co/api/v2/ability/65/
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3bfb-HneNVKD5IlQbUU9C83LmFgSMzUI"
      Function-Execution-Id:
      - 02ofn01bom3o
      X-Cloud-Trace-Context:
      - bb88fcd078d43748533cb09bb41a3dc1;o=1
      X-Country-Code:
      - US
      X-Orig-Accept[...]
[...]
- request:
    method: get
    uri: https://pokeapi.co/api/v2/evolution-chain/1/
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"519-mKqcmr+9AYQMpKJR7ibewJifciM"
      Function-Execution-Id:
      - kyeh3o40otce
      X-Cloud-Trace-Context:
      - 3543ba01dfa2f0f393b111388078ff83
      X-Country-Code:
      - US
    body:
      e[...]
- request:
    method: get
    uri: https://pokeapi.co/api/v2/pokemon/pikachu
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2e932-K0IW1E8/Ue8ra2EK+5E5lkyPDH0"
      Function-Execution-Id:
      - reloo0xsgxj9
      X-Cloud-Trace-Context:
      - cf9d7fd68fd4f88d98efdcd049fd292d
      X-Country-Code:
      - US
      X-Orig-Accep[...]
[...]
